config system ha
    set group-name "{{ha.group}}"
    set mode a-p
    set password ENC {{ha.password}}
    set hbdev "{{ha.hbdev1}}" 0 "{{ha.hbdev2}}" 0 
    set session-pickup enable
    set override disable
    set priority {{ha.priority}}
end