{# IOS Banner Jinja2 Template with dynamic greeting logic  #}
{#
{%- set site = device.site if device.site is defined else None -%}
{%- set region = site.region if site and site.region is defined else None -%}
{%- set parent_region = region.parent if region and region.parent is defined else None -%}
{%- set site_name = site.name if site and site.name is defined else "" -%}
{%- set region_name = region.name if region and region.name is defined else "" -%}
{%- set region_nickname = region.custom_fields.nickname if region and region.custom_fields is defined and region.custom_fields.nickname is defined else "" -%}
{%- set parent_region_name = parent_region.name if parent_region and parent_region.name is defined else "" -%}
{%- set parent_region_nickname = parent_region.custom_fields.nickname if parent_region and parent_region.custom_fields is defined and parent_region.custom_fields.nickname is defined else "" -%}

{%- if region_name == "Quebec" -%}
  {%- set location_greeting = "Bienvenue a " ~ site_name ~ "!" -%}
  {%- set state_nickname = "Situe dans la magnifique province de " ~ region_name ~ ", " ~ region_nickname ~ "." -%}
  {%- set bonus_text = "Profitez de votre sejour et n'oubliez pas de \"write mem\" :)" -%}
{%- elif region_name == "San Diego" -%}
  {%- set location_greeting = "Welcome to " ~ site_name ~ ", " ~ region_nickname ~ "!" -%}
  {%- set state_nickname = "Located in beautiful " ~ parent_region_name ~ ", " ~ parent_region_nickname ~ "." -%}
  {%- set bonus_text = "Please enjoy your stay and don't forget to \"write mem\" :)" -%}
{%- else -%}
  {%- set location_greeting = "Welcome to " ~ site_name ~ "!" -%}
  {%- set state_nickname = "Located in beautiful " ~ region_name ~ ", " ~ region_nickname ~ "." -%}
  {%- set bonus_text = "Please enjoy your stay and don't forget to \"write mem\" :)" -%}
{%- endif %}
#}

banner motd ^
****************************************************************************** 
*                                                                            *
*                                                                            *
*                                                                            *
*                                                                            *
*  ___ ___  ___                                    _      _   _              *
* | __|   \| __|  _ __ _____ __ _____ _ _   ______| |_  _| |_(_)___ _ _  ___ *
* | _|| |) | _|  | '_ / _ \ V  V / -_| '_| (_-/ _ | | || |  _| / _ | ' \(_-< *
* |___|___/|_|   | .__\___/\_/\_/\___|_|   /__\___|_|\_,_|\__|_\___|_||_/__/ *
*                |_|                                                         *
*                                                                            *
*                WARNING - UNAUTHORIZED ACCESS PROHIBITED                    *
*                                                                            *
*        Access to this device is not authorized.  Any attempt for           *
*        unauthorized access will be logged and appropriate legal            *
*        action will be taken.                                               *
*                                                                            *
*                                                                            *
*                                                                            *
****************************************************************************** 
^