!
{%- include 'cisco/ios/vrf.j2' %}
!
{%- include 'cisco/ios/aaa.j2' %}
!
{%- include 'cisco/ios/clock.j2' %}
!
{%- include 'cisco/ios/ip.j2' %}
!
{%- include 'cisco/ios/crypto.j2' %}
!
{%- include 'cisco/ios/ssh.j2' %}
!
{%- include 'cisco/ios/hostname.j2' %}
!
{%- include 'cisco/ios/users.j2' %}
!
{%- include 'cisco/ios/acls.j2' %}
!
{%- include 'cisco/ios/vlans.j2' %}
!
{%- include 'cisco/ios/interfaces.j2' %}
!
{%- include 'cisco/ios/syslog.j2' %}
!
{%- include 'cisco/ios/snmp.j2' %}
!
{%- include 'cisco/ios/banner.j2' %}
!
{%- include 'cisco/ios/line.j2' %}
!
{%- include 'cisco/ios/ntp.j2' %}
!