clock timezone {{ clock.timezone.name }} {{ clock.timezone.offset.hours }} {{ clock.timezone.offset.minutes }}
clock summer-time {{ clock.summer_time.name }}{% if clock.summer_time.recurring %} recurring{% endif %}