!
{{ "no " if not ip.http_server else "" }}ip http server
{{ "no " if not ip.http_secure_server else "" }}ip http secure-server
{{ "no " if not ip.finger else "" }}ip finger
{{ "no " if not ip.source_route else "" }}ip source-route
{{ "no " if not ip.gratuitous_arps else "" }}ip gratuitous-arps
{{ "no " if not ip.domain_lookup else "" }}ip domain lookup
!
{% if ip.routing %}ip routing
{% endif %}
ip domain name {{ ip.domain_name }}
{% for server in ip.name_server.servers %}
ip name-server {{ server }}
{% endfor %}
!