!
line con 0
 authorization exec CON_0_AUTH
 login authentication CON_0
 exec-timeout {{line.exec_timeout}} 0
 logging {{ line.logging }}
line vty 0 {{line.vty_max}}
 access-class {{ line.access_class.in.acl }} in {{ line.access_class.in.vrf }}
 exec-timeout {{line.exec_timeout}} 0
 logging {{ line.logging }}
 login authentication {{aaa.authentication_list}}
 transport input {{ line.transport.input | join(' ') }}
!