# {%- for group in device.site.vlan_groups.all() -%}
# {%- if group.name == device.site.name + "EXT VLANS" and device.role == "External Switch"-%}
# {%- for vlan in group.vlans.all()%}
# vlan {{ vlan.vid }}
#  name {{ vlan.name }}
# {%- endfor -%}
# {%- endif -%}
# {%- endfor -%}