{%- for group in device.site.vlan_groups.all() -%}
{%- if group.name == device.site.name + " EXT VLANs" and device.role.name == "External Switch"-%}
{%- for vlan in group.vlans.all()%}
vlan {{ vlan.vid }}
 name {{ vlan.name }}
{%- endfor -%}
{%- elif group.name == device.site.name + " IT VLANs" and device.role.name == "Access Switch"-%}
{%- for vlan in group.vlans.all()%}
vlan {{ vlan.vid }}
 name {{ vlan.name }}
{%- endfor -%}
{%- elif group.name == device.site.name + " MGMT VLANs" and device.role.name == "Management Switch"-%}
{%- for vlan in group.vlans.all()%}
vlan {{ vlan.vid }}
 name {{ vlan.name }}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}

{% for vlan in ipam.VLAN.objects.all().get_for_device(device) -%}
    {{ vlan.vid }}
{% endfor %}